# Creating and Visualizing DataFrames

Learn to visualize the contents of your DataFrames, handle missing data values, and import data from and export data to CSV files.

## Visualizing your data

### Histograms
```python
import matplotlib.pyplot as plt
dog_pack["height_cm"].hist()
plt.show()
```

```python
dog_pack["height_cm"].hist(bins=20)
plt.show()
```

### Bar plots
```python
avg_weight_by_breed = dog_pack.groupby("breed")["weight_kg"].mean()
print(avg_weight_by_breed)
```

```python
avg_weight_by_breed.plot(kind="bar")
plt.show()
```


```python
avg_weight_by_breed.plot(kind="bar", title="Mean Weight by Dog Breed")
plt.show()
```

### Line Plots
```python
sully.head()
```

```python
sully.plot(x = "date", y="weight_kg", kind="line")
plt.show()
```

### Rotating axis Labels
```python
sully.plot(x="date", y = "weight_kg", kind="line", rot=45)
plt.show()
```

### Scatter Plots
```python
dog_pack.plot(x="height_cm", y="weight_kg", kind="scatter")
plt.show()
```

### Layering plots
```python
dog_pack[dog_pack["sex"]=="F"]["height_cm"].hist()
dog_pack[dog_pack["sex"]=="M"]["height_cm"].hist()
plt.show()
```

### Add a legend
```python
dog_pack[dog_pack["sex"]=="F"]["height_cm"].hist()
dog_pack[dog_pack["sex"]=="M"]["height_cm"].hist()
plt.legend(["F", "M"])
plt.show()
```

### Transparency
```python
dog_pack[dog_pack["sex"]=="F"]["height_cm"].hist(alpha=0.7)
dog_pack[dog_pack["sex"]=="M"]["height_cm"].hist(alpha=0.7)
plt.legend(["F", "M"])
plt.show()
```

### Which avocado size is most popular?

Avocados are increasingly popular and delicious in guacamole and on toast. The Hass Avocado Board keeps track of avocado supply and demand across the USA, including the sales of three different sizes of avocado. In this exercise, you'll use a bar plot to figure out which size is the most popular.

Bar plots are great for revealing relationships between categorical (size) and numeric (number sold) variables, but you'll often have to manipulate your data first in order to get the numbers you need for plotting.

`pandas` has been imported as `pd`, and `avocados` is available.

#### Instructions

* Print the head of the `avocados` dataset. *What columns are available?*
* For each avocado size group, calculate the total number sold, storing as `nb_sold_by_size`.
* Create a bar plot of the number of avocados sold by size.
* Show the plot.

In [ ]:
import pandas as pd
from matplotlib.style.core import available

avocados = pd.read_pickle("../../data/avoplotto.pkl")

In [ ]:
# Import matplotlib.pyplot with alias plt
import matplotlib.pyplot as plt

# Look at the first few rows of data
print(avocados.head())

# Get the total number of avocados sold of each size
nb_sold_by_size = avocados.groupby("size")["nb_sold"].sum()

# Create a bar plot of the number of avocados sold by size
nb_sold_by_size.plot(kind="bar")

# Show the plot
plt.show()

### Changes in sales over time

Line plots are designed to visualize the relationship between two numeric variables, where each data values is connected to the next one. They are especially useful for visualizing the change in a number over time since each time point is naturally connected to the next time point. In this exercise, you'll visualize the change in avocado sales over three years.

`pandas` has been imported as `pd`, and `avocados` is available.

#### Instructions

* Get the total number of avocados sold on each date. *The DataFrame has two rows for each dateâ€”one for organic, and one for conventional* . Save this as `nb_sold_by_date`.
* Create a line plot of the number of avocados sold.
* Show the plot.

In [ ]:
# Import matplotlib.pyplot with alias plt
import matplotlib.pyplot as plt

# Get the total number of avocados sold on each date
nb_sold_by_date = avocados.groupby("date")["nb_sold"].sum()

# Create a line plot of the number of avocados sold by date
nb_sold_by_date.plot(kind="line")

# Show the plot
plt.show()

### Avocado supply and demand

Scatter plots are ideal for visualizing relationships between numerical variables. In this exercise, you'll compare the number of avocados sold to average price and see if they're at all related. If they're related, you may be able to use one number to predict the other.

`matplotlib.pyplot` has been imported as `plt`, `pandas` has been imported as `pd`, and `avocados` is available.

#### Instructions

* Create a scatter plot with `nb_sold` on the x-axis and `avg_price` on the y-axis. Title it `"Number of avocados sold vs. average price"`.
* Show the plot.

In [ ]:
# Scatter plot of avg_price vs. nb_sold with title
avocados.plot(x="nb_sold", y="avg_price", kind="scatter", title="Number of avocados sold vs. average price")

# Show the plot
plt.show()


### Price of conventional vs. organic avocados

Creating multiple plots for different subsets of data allows you to compare groups. In this exercise, you'll create multiple histograms to compare the prices of conventional and organic avocados.

`matplotlib.pyplot` has been imported as `plt` and `pandas` has been imported as `pd`.

#### Instructions 1/3

* Subset `avocados` for the `"conventional"` `type` and create a histogram of the `avg_price` column.
* Create a histogram of `avg_price` for `"organic"` `type` avocados.
* Add a legend to your plot, with the names `"conventional"` and `"organic"`.
* Show your plot

In [ ]:
# Histogram of conventional avg_price
avocados[avocados["type"] == "conventional"]["avg_price"].hist()

# Histogram of organic avg_price
avocados[avocados["type"] == "organic"]["avg_price"].hist()

# Add a legend
plt.legend(["conventional", "organic"])

# Show the plot
plt.show()

#### Instruction 2/3
* Modify your code to adjust the transparency of both histograms to `0.5` to see how much overlap there is between the two distributions.

In [ ]:
# Modify histogram transparency to 0.5
avocados[avocados["type"] == "conventional"]["avg_price"].hist(alpha=0.5)

# Modify histogram transparency to 0.5
avocados[avocados["type"] == "organic"]["avg_price"].hist(alpha=0.5)

# Add a legend
plt.legend(["conventional", "organic"])

# Show the plot
plt.show()

#### Instruction 3/3
- Modify your code to use 20 bins in both histograms.

In [ ]:
# Modify bins to 20
avocados[avocados["type"] == "conventional"]["avg_price"].hist(alpha=0.5, bins=20)

# Modify bins to 20
avocados[avocados["type"] == "organic"]["avg_price"].hist(alpha=0.5, bins=20)

# Add a legend
plt.legend(["conventional", "organic"])

# Show the plot
plt.show()

## Missing Values

### What's a Missing Value?
Most data is not perfect - there's always a possibility that there are some pieces missing from your dataset.

### Missing values in pandas DataFrames
In a pandas DataFrame, missing values are indicated with N-a-N, which stands for "not a number."

###  Detecting missing values
When you first get a DataFrame, it's a good idea to get a sense of whether it contains any missing values, and if so, how many. That's where the isna method comes in. When we call isna on a DataFrame, we get a Boolean for every single value indicating whether the value is missing or not, but this isn't very helpful when you're working with a lot of data.

```python
dogs.isna()
```

### Detecting any missing values
If we chain dot-isna with dot-any, we get one value for each variable that tells us if there are any missing values in that column. Here, we see that there's at least one missing value in the weight column, but not in any of the others.

```python
dogs.isna().any()
```

### Counting missing values
Since taking the sum of Booleans is the same thing as counting the number of `Trues`, we can combine `sum` with `isna` to count the number of `NaNs` in each column.

```python
dogs.isna().sum()
```

### Plotting missing values
We can use those counts to visualize the missing values in the dataset using a bar plot. Plots like this are more interesting when you have missing data across different variables, while here, only weights are missing. Now that we know there are missing values in the dataset, what can we do about them?


```python
import matplotlib.pyplot as plt
dogs.isna().sum().plot(kind="bar")
plt.show()
```

### Removing Missing values

One option is to remove the rows in the DataFrame that contain missing values. This can be done using the `dropna` method. However, this may not be ideal if you have a lot of missing data, since that means losing a lot of observations.


```python
dogs.dropna()
```

### Replacing missing values
Another option is to replace missing values with another value. The fillna method takes in a value, and all NaNs will be replaced with this value. There are also many sophisticated techniques for replacing missing values, which you can learn more about in our course about missing data.


```python
dogs.fillna(0)
```

### Finding missing values

Missing values are everywhere, and you don't want them interfering with your work. Some functions ignore missing data by default, but that's not always the behavior you might want. Some functions can't handle missing values at all, so these values need to be taken care of before you can use them. If you don't know where your missing values are, or if they exist, you could make mistakes in your analysis. In this exercise, you'll determine if there are missing values in the dataset, and if so, how many.

`pandas` has been imported as `pd` and `avocados_2016`, a subset of `avocados` that contains only sales from 2016, is available.

#### Instructions

* Print a DataFrame that shows whether each value in `avocados_2016` is missing or not.
* Print a summary that shows whether *any* value in each column is missing or not.
* Create a bar plot of the total number of missing values in each column.

In [ ]:
# Import matplotlib.pyplot with alias plt
import matplotlib.pyplot as plt
avocados_2016 = avocados[avocados["year"] == "2016"]
# Check individual values for missing values
print(avocados_2016.isna())

# Check each column for missing values
print(avocados_2016.isna().any())

# Bar plot of missing values by variable
avocados_2016.isna().sum().plot(kind="bar", title="Number of avocados 2016")

# Show plot
plt.show()

### Removing missing values

Now that you know there are some missing values in your DataFrame, you have a few options to deal with them. One way is to remove them from the dataset completely. In this exercise, you'll remove missing values by removing all rows that contain missing values.

`pandas` has been imported as `pd` and `avocados_2016` is available.

#### Instructions

* Remove the rows of `avocados_2016` that contain missing values and store the remaining rows in `avocados_complete`.
* Verify that all missing values have been removed from `avocados_complete`. Calculate each column that has NAs and print.

In [ ]:
# Remove rows with missing values
avocados_complete = avocados_2016.dropna()

# Check if any columns contain missing values
print(avocados_complete.isna().any())

### Replacing missing values

Another way of handling missing values is to replace them all with the same value. For numerical variables, one option is to replace values with 0â€” you'll do this here. However, when you replace missing values, you make assumptions about what a missing value means. In this case, you will assume that a missing number sold means that no sales for that avocado type were made that week.

In this exercise, you'll see how replacing missing values can affect the distribution of a variable using histograms. You can plot histograms for multiple variables at a time as follows:

```python
dogs[["height_cm", "weight_kg"]].hist()
```

`pandas` has been imported as `pd` and `matplotlib.pyplot` has been imported as `plt`. The `avocados_2016` dataset is available.

## Instructions 1/2

* A list has been created, `cols_with_missing`, containing the names of columns with missing values: `"small_sold"`, `"large_sold"`, and `"xl_sold"`.
* Create a histogram of those columns.
* Show the plot.

In [ ]:
# List the columns with missing values
cols_with_missing = ["small_sold", "large_sold", "xl_sold"]

# Create histograms showing the distributions cols_with_missing
avocados_2016[cols_with_missing].hist()

# Show the plot
plt.show()


## Instructions 2/2

* Replace the missing values of `avocados_2016` with `0`s and store the result as `avocados_filled`.
* Create a histogram of the `cols_with_missing` columns of `avocados_filled`.

In [ ]:
# From previous step
cols_with_missing = ["small_sold", "large_sold", "xl_sold"]
avocados_2016[cols_with_missing].hist()
plt.show()

# Fill in missing values with 0
avocados_filled = avocados_2016.fillna(0)

# Create histograms of the filled columns
avocados_filled.hist()

# Show the plot
plt.show()

## Creating DataFrames

### Dictionaries
A dictionary is a way of storing data in Python. It holds a set of key-value pairs. You can create a dictionary like this, using curly braces. Inside, each key-value pair is written as "key colon value."

```python
my_dict = {
    "key1" : value1,
    "key2" : value2,
    "key3" : value3,
}
```

```python
my_dict["key1"]
```

Answer:

```text
value1
```

```python
my_dict = {
    "title": "Charlotte's Web",
    "author": "E.B. White",
    "published": 1952
}
```

```python
my_dict["title"]
```

Answer:

```text
Charlotte's Web
```

### Creating DataFrames

1. From a list dictionaries
    - Constructed row by row
2. From a dictionary of lists
    - Constructed column by column

#### List of dictionaries - by row

```python
list_of_dicts = [
   {
    "name": "Ginger",
    "breed": "Dachshund",
    "height_cm": 22,
    "weight_kg": 10,
    "date_of_birth": "2019-03-14"
    },
    {
    "name": "Scout",
    "breed": "Dalmatian",
    "height_cm": 59,
    "weight_kg": 25,
    "date_of_birth": "2019-05-09"
    }
]
```

```python
import pandas as pd
new_dogs = pd.DataFrame(list_of_dicts)
print(new_dogs)
```

#### Dictionary of lists - by column
```python
dict_of_lists = {
    "name": ["Ginger", "Scout"],
    "breed": ["Dachshund", "Dalmatian"],
    "height_cm": [22, 59],
    "weight_kg": [10, 25],
    "date_of_birth": ["2019-03-14", "2019-05-09"]
}
new_dogs = pd.DataFrame(dict_of_lists)
```

- **Key** = Column name
- **Value** = list of column values

### List of dictionaries

You recently got some new avocado data from 2019 that you'd like to put in a DataFrame using the list of dictionaries method. Remember that with this method, you go through the data row by row.


| date         | small_sold | large_sold |
| -------------- | ------------ | ------------ |
| "2019-11-03" | 10376832   | 7835071    |
| "2019-11-10" | 10717154   | 8561348    |

`pandas` as `pd` is imported.

#### Instructions

* Create a list of dictionaries with the new data called `avocados_list`.
* Convert the list into a DataFrame called `avocados_2019`.
* Print your new DataFrame.

In [13]:
# Create a list of dictionaries with new data
avocados_list = [
    {"date": "2019-11-03", "small_sold": 10376832, "large_sold": 7835071},
    {"date": "2019-11-10", "small_sold": 10717154, "large_sold": 8561348},
]

# Convert list into DataFrame
avocados_2019 = pd.DataFrame(avocados_list)

# Print the new DataFrame
print(avocados_2019)

         date  small_sold  large_sold
0  2019-11-03    10376832     7835071
1  2019-11-10    10717154     8561348

### Dictionary of lists

Some more data just came in! This time, you'll use the dictionary of lists method, parsing the data column by column.


| date         | small_sold | large_sold |
| -------------- | ------------ | ------------ |
| "2019-11-17" | 10859987   | 7674135    |
| "2019-12-01" | 9291631    | 6238096    |

`pandas` as `pd` is imported.

#### Instructions

* Create a dictionary of lists with the new data called `avocados_dict`.
* Convert the dictionary to a DataFrame called `avocados_2019`.
* Print your new DataFrame.

In [15]:
# Create a dictionary of lists with new data
avocados_dict = {
  "date": ["2019-11-17", "2019-12-01"],
  "small_sold": [10859987, 9291631],
  "large_sold": [7674135, 6238096]
}

# Convert dictionary into DataFrame
avocados_2019 = pd.DataFrame(avocados_dict)

# Print the new DataFrame
print(avocados_2019)

         date  small_sold  large_sold
0  2019-11-17    10859987     7674135
1  2019-12-01     9291631     6238096

## Reading and Writing CSVs
### What's a CSV file?

CSV, or comma-separated values, is a common data storage file type. It's designed to store tabular data, just like a pandas DataFrame. It's a text file, where each row of data has its own line, and each value is separated by a comma.

### DataFrame Manipulation

```python
new_dogs["bmi"] =  new_dogs["weight_kg"] / (new_dogs["height_cm"] / 100) ** 2

```

### DataFrame to CSV

```python
dict_of_lists = {
    "name": ["Ginger", "Scout"],
    "breed": ["Dachshund", "Dalmatian"],
    "height_cm": [22, 59],
    "weight_kg": [10, 25],
    "date_of_birth": ["2019-03-14", "2019-05-09"]
}
new_dogs = pd.DataFrame(dict_of_lists)
```

```python
new_dogs.to_csv("new_dogs_with_bmi.csv")
```

### CSV to DataFrame

You work for an airline, and your manager has asked you to do a competitive analysis and see how often passengers flying on other airlines are involuntarily bumped from their flights. You got a CSV file (`airline_bumping.csv`) from the Department of Transportation containing data on passengers that were involuntarily denied boarding in 2016 and 2017, but it doesn't have the exact numbers you want. In order to figure this out, you'll need to get the CSV into a pandas DataFrame and do some manipulation!

`pandas` is imported for you as `pd`. `"airline_bumping.csv"` is in your working directory.

#### Instructions 1/4

* Read the CSV file `"airline_bumping.csv"` and store it as a DataFrame called `airline_bumping`.
* Print the first few rows of `airline_bumping`.

In [16]:
# Read CSV as DataFrame called airline_bumping
airline_bumping = pd.read_csv("../../data/airline_bumping.csv")

# Take a look at the DataFrame
print(airline_bumping.head())

             airline  year  nb_bumped  total_passengers
0    DELTA AIR LINES  2017        679          99796155
1     VIRGIN AMERICA  2017        165           6090029
2    JETBLUE AIRWAYS  2017       1475          27255038
3    UNITED AIRLINES  2017       2067          70030765
4  HAWAIIAN AIRLINES  2017         92           8422734

#### Instructions 2/4

* For each airline group, select the `nb_bumped`, and `total_passengers` columns, and calculate the sum (for both years). Store this as `airline_totals`.

In [18]:
# From previous step
airline_bumping = pd.read_csv("../../data/airline_bumping.csv")
print(airline_bumping.head())

# For each airline, select nb_bumped and total_passengers and sum
airline_totals = airline_bumping.groupby("airline")[["nb_bumped", "total_passengers"]].sum()

             airline  year  nb_bumped  total_passengers
0    DELTA AIR LINES  2017        679          99796155
1     VIRGIN AMERICA  2017        165           6090029
2    JETBLUE AIRWAYS  2017       1475          27255038
3    UNITED AIRLINES  2017       2067          70030765
4  HAWAIIAN AIRLINES  2017         92           8422734

#### Instructions 3/4

* Create a new column of `airline_totals` called `bumps_per_10k`, which is the number of passengers bumped per 10,000 passengers in 2016 and 2017.

In [23]:
# From previous steps
airline_bumping = pd.read_csv("../../data/airline_bumping.csv")
print(airline_bumping.head())
airline_totals = airline_bumping.groupby("airline")[["nb_bumped", "total_passengers"]].sum()

# Create new col, bumps_per_10k: no. of bumps per 10k passengers for each airline
airline_totals["bumps_per_10k"] = airline_totals["nb_bumped"] / airline_totals["total_passengers"] * 10000

print(airline_totals.head())

             airline  year  nb_bumped  total_passengers
0    DELTA AIR LINES  2017        679          99796155
1     VIRGIN AMERICA  2017        165           6090029
2    JETBLUE AIRWAYS  2017       1475          27255038
3    UNITED AIRLINES  2017       2067          70030765
4  HAWAIIAN AIRLINES  2017         92           8422734
                     nb_bumped  total_passengers  bumps_per_10k
airline
ALASKA AIRLINES           1392          36543121       0.380920
AMERICAN AIRLINES        11115         197365225       0.563169
DELTA AIR LINES           1591         197033215       0.080748
EXPRESSJET AIRLINES       3326          27858678       1.193883
FRONTIER AIRLINES         1228          22954995       0.534960

### DataFrame to CSV

You're almost there! To make things easier to read, you'll need to sort the data and export it to CSV so that your colleagues can read it.

`pandas` as `pd` has been imported for you.

#### Instructions

* Sort `airline_totals` by the values of `bumps_per_10k` from highest to lowest, storing as `airline_totals_sorted`.
* Print your sorted DataFrame.
* Save the sorted DataFrame as a CSV called `"airline_totals_sorted.csv"`.

In [28]:
# Create airline_totals_sorted
airline_totals_sorted = airline_totals.sort_values("bumps_per_10k", ascending=False)

# Print airline_totals_sorted
print(airline_totals_sorted.head())

# Save as airline_totals_sorted.csv
airline_totals_sorted.to_csv("../../data/airline_totals_sorted.csv")

                     nb_bumped  total_passengers  bumps_per_10k
airline
EXPRESSJET AIRLINES       3326          27858678       1.193883
SPIRIT AIRLINES           2920          32304571       0.903897
SOUTHWEST AIRLINES       18585         228142036       0.814624
JETBLUE AIRWAYS           3615          53245866       0.678926
SKYWEST AIRLINES          3094          47091737       0.657015

# Recap

- Chapter 1
    - Subsetting and sorting
    - Adding new columns
- Chapter 2
    - Aggregating and grouping
    - Summary statistics
- Chapter 3
    - Indexing
    - Slicing
- Chapter 4
    - Visualizations
    - Reading and writing CSVs